= title(@proposal.title, false)
== render :partial => 'proposals/single', :locals => {:assembly => @assembly, :proposal => @proposal}
== render :partial => 'amendments/list', :locals => { :amendments => @proposal.amendments, :assembly => @assembly }
== render :partial => 'replies/list', :locals => { :replies => @proposal.replies }
