= form_tag assembly_authorizations_path(@assembly) do

  = label_tag "registration_number", t('authorizations.create.registration_number')
  = text_field_tag "registration_number", "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  = submit_tag t('authorizations.create.submit'), :id => "submit"
