= title t('amendments.create.title' :proposal_title => @proposal.title)
= form_for [@assembly,@proposal,@amendment] do |f|
  == render :partial => "form", :locals => {:assembly => @assembly, :proposal => @proposal, :amendment => @amendment }
